<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeliner.achacha">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".mains.AchachaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_simple"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_simple_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Achacha">
        <activity android:name=".ui.inputs.chip.ChipInputActivity"
            android:theme="@style/Theme.ActivityDialog"/>
        <activity
            android:name=".ui.inputs.text.TextInputActivity"
            android:theme="@style/Theme.ActivityDialog"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".mains.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>